<% provide(:title, "ホーム") %>
<div class="center jumbotron">
 <h1>勤怠システム</h1>
 <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary "%>
 <p>ユーザー登録がまだの場合は<a href="/signup">こちらから</a>登録</p>
</dib>