 <h1>拠点一覧</h1>
<a class="btn btn-md btn-primary" data-remote="true" href="/bases/new">追加</a>
<div>
  <table class="table-bordered table-striped table-condensed">
  <tr>
    <td>拠点番号</td>
    <td>拠点名</td>
    <td>勤怠種類</td>
    <td></td>
    <td></td>
  </tr>
  <tr>